body {
    overflow-x: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

.test {
    color: brown;
    position: relative;
    top: 1000px;
}
.topbar {
    display: grid;
    grid-template-columns: 7.5fr 1.03fr 1.05fr 0.85fr;
    background-color: #24422d;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 27px;
    padding-top: 13px;
    font-size: 80%;
}

#Frakt {
    position: relative;
    float: left;
    top: 0px;
    left: 58px;
    color: white;
}

#LantBild {
    position: relative;
    width: 13.61%;
    top: -256px;
    left: 367px;
}

#bye {
    position: relative;
    left: -300px;
}

.MenuButton-Container {
    position: absolute;
    top: 59px;
    left: 330.5px;
    
}

#Menu-Bild {
    width: 20%;
}

#Våra_Produkter {
    position: relative;
    left: 58px;
    top: -32px;
    font-size: 85%;
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: #24422D;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    font-size: 17px;
  }
  
  .sidenav .Divs {
    position: relative;
    top: -33px;
    left: 45px;
    margin-bottom: -18.5px;
    margin-top: 5px;
  }

  .sidenav a:hover {
    color: #234923;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 15px;
    left: 22px;
    font-size: 40px;
    margin-right: 35px;
    background-color: hsla(0, 0%, 100%, .1);
    border-radius: 50%;
    padding: 9px;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: 0s;
  }

  .sidenav .closebtn:hover {
    color: #ffffffc8;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .NavBarItem {
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    padding: 15px 26px 13px 22px;
  }

  #Horse {
    padding-top: 10px;
  }

  #Husdjur {
    padding-top: 10.1px;
  }

  #Hem {
    padding-top: 10.15px;
  }

  .padder {
    padding-bottom: 23px;
  }

  .NavBarItem:hover {
    background-color: #efe5d0;
  }

.NavBarItem:hover .SideBilder {
    filter: invert(22%) sepia(9%) saturate(2795%) hue-rotate(72deg) brightness(28%) contrast(88%);
}

  .Side {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .Side .Close {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    cursor: default;
  }

  .SideBilder {
    width: 10.8%;
    position: relative;
    left: -10px;
    top: 5px;
  }

  #LantSid {
    width: 10.79%;
  }

  #HemSid {
    width: 10.79%;
  }

  .SideHide {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }